<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Conexion</servlet-name>
        <servlet-class>Controlador.Conexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SFinalizarCompra</servlet-name>
        <servlet-class>Servlet.SFinalizarCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Conversacion</servlet-name>
        <servlet-class>Controlador.Conversacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvAnyadirMsj</servlet-name>
        <servlet-class>Controlador.SvAnyadirMsj</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvMostrarConv</servlet-name>
        <servlet-class>Controlador.SvMostrarConv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mensajes</servlet-name>
        <servlet-class>Mensajes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>consulta2</servlet-name>
        <servlet-class>Controlador.consulta2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCerrarSesion</servlet-name>
        <servlet-class>Servlet.SCerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ve</servlet-name>
        <servlet-class>Controlador.ve</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registrar</servlet-name>
        <servlet-class>Servlet.registrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Chat</servlet-name>
        <servlet-class>Controlador.Chat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mensaje</servlet-name>
        <servlet-class>Servlet.Mensaje</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetalleVenta</servlet-name>
        <servlet-class>Controlador.DetalleVenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Producto</servlet-name>
        <servlet-class>Controlador.Producto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConsulta</servlet-name>
        <servlet-class>Controlador.ServletConsulta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Usuari</servlet-name>
        <servlet-class>Controlador.Usuari</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Usuario</servlet-name>
        <servlet-class>Controlador.Usuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Venta</servlet-name>
        <servlet-class>Controlador.Venta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>busca</servlet-name>
        <servlet-class>Controlador.busca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>consulta</servlet-name>
        <servlet-class>Controlador.consulta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agrega</servlet-name>
        <servlet-class>Servlet.agrega</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>finalizar</servlet-name>
        <servlet-class>Servlet.finalizar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SAgregarCarro</servlet-name>
        <servlet-class>Servlet.SAgregarCarro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRamonas</servlet-name>
        <servlet-class>Obtener.AddRamonas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Conn</servlet-name>
        <servlet-class>Obtener.Conn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetInfo</servlet-name>
        <servlet-class>Obtener.GetInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BTicket</servlet-name>
        <servlet-class>Servlet.BTicket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregar</servlet-name>
        <servlet-class>Servlet.agregar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>encuentra</servlet-name>
        <servlet-class>Controlador.encuentra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Historial</servlet-name>
        <servlet-class>Controlador.Historial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SVerificarUsuario</servlet-name>
        <servlet-class>Servlet.SVerificarUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Conexion</servlet-name>
        <url-pattern>/Conexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SFinalizarCompra</servlet-name>
        <url-pattern>/SFinalizarCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Conversacion</servlet-name>
        <url-pattern>/Conversacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvAnyadirMsj</servlet-name>
        <url-pattern>/SvAnyadirMsj</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvMostrarConv</servlet-name>
        <url-pattern>/SvMostrarConv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mensajes</servlet-name>
        <url-pattern>/Mensajes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consulta2</servlet-name>
        <url-pattern>/consulta2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCerrarSesion</servlet-name>
        <url-pattern>/SCerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ve</servlet-name>
        <url-pattern>/ve</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registrar</servlet-name>
        <url-pattern>/registrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Chat</servlet-name>
        <url-pattern>/Chat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mensaje</servlet-name>
        <url-pattern>/Mensaje</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetalleVenta</servlet-name>
        <url-pattern>/DetalleVenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Producto</servlet-name>
        <url-pattern>/Producto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConsulta</servlet-name>
        <url-pattern>/ServletConsulta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Usuari</servlet-name>
        <url-pattern>/Usuari</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Usuario</servlet-name>
        <url-pattern>/Usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Venta</servlet-name>
        <url-pattern>/Venta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>busca</servlet-name>
        <url-pattern>/busca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consulta</servlet-name>
        <url-pattern>/consulta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agrega</servlet-name>
        <url-pattern>/agrega</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>finalizar</servlet-name>
        <url-pattern>/finalizar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SAgregarCarro</servlet-name>
        <url-pattern>/SAgregarCarro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRamonas</servlet-name>
        <url-pattern>/AddRamonas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Conn</servlet-name>
        <url-pattern>/Conn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetInfo</servlet-name>
        <url-pattern>/GetInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BTicket</servlet-name>
        <url-pattern>/BTicket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agregar</servlet-name>
        <url-pattern>/agregar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>encuentra</servlet-name>
        <url-pattern>/encuentra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Historial</servlet-name>
        <url-pattern>/Historial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SVerificarUsuario</servlet-name>
        <url-pattern>/SVerificarUsuario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
